#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#input_full_encoded {
  display:inline-block;
  margin-right: 10px;
  width: 400px;
  height: 200px;
  padding: 20px;
  /* margin-bottom: 20px; */
  border: 1px solid red;
  /* text-align: center; */
  /* word-wrap: normal; */
  word-wrap: break-word;
  /* overflow-x: scroll; */
  /* overflow-y: scroll; */
}

#input_full_encoded:hover {
  border: 1px solid blue;
}

#input_full_decoded {
  position: relative;
  display:inline-block;
  width: 400px;
  height: 200px;
  padding: 20px;
  /* margin-bottom: 20px; */
  border: 1px solid red;
  /* text-align: center; */
  /* word-wrap: normal; */
  word-wrap: break-word;
  /* overflow-x: scroll; */
  /* overflow-y: scroll; */
}

#input_full_decoded:hover {
  border: 1px solid blue;
}

#input:focus {
  /* border: 0px solid rgb(32, 146, 140); */
  outline: none !important;;
}

#input {
  width: 400px;
  height: 200px;
  text-align: left;
  word-wrap: fill;
  font:20px arial, helvetica;
  /* font-weight: bold; */
  letter-spacing: 1.5px;
  /* bottom: 20; */
}


#input_1 {
  width: 300px;
  height: 90px;
  padding: 30px;
  /* margin-bottom: 20px; */
  border: 1px solid red;
  text-align: center;
  /* word-wrap: normal; */
  word-wrap: break-word;
  /* overflow-x: scroll; */
  /* overflow-y: scroll; */
}

#input_first_sect {
  color: #2e6eb8;
}
#input_second_sect {
  color: #8d1c8d;
}
#input_third_sect {
  color: #41bb82;
}
